body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
    position: relative;
    overflow: hidden;
    /* background: url('code-coding-connection-943096.jpg') no-repeat top center fixed #333; */
}
header article {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
header article div.container {
    width: 640px;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
}
header article figure {
    width: 200px;
    height: 200px;
    display: block;
    margin: 100px 30px 100px 0;
    float: left;
}
header article figure img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    border-radius: 50%;
}
header article div {
    width: 410px;
    height: 200px;
    display: block;
    margin: 100px 0;
    float: left;
}
header article div h1 {
    color: #ff0;
    font-size: 3em;
    text-align: left;
    font-weight: 700;
    margin: 60px 0 0 0;
    letter-spacing: 0.025em;
}
header article div h2 {
    color: #fff;
    font-size: 1.35em;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin: 0;
}

header #video-fondo {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    transform: scale(1.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



main {
    width: 100%;
    height: 700px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
}

main section:nth-child(1) {
    width: 35%;
    height: 700px;
    display: block;
    margin: 0;
    float: left;
    padding: 0;
    background: #f0f0f0;
}

main section:nth-child(1) article:nth-child(1) {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section:nth-child(1) article:nth-child(1) h5 {
    width: 80%;
    font-size: 1.2em;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 0 5px 0;
    margin: 55px 0 0 0;
    letter-spacing: 0.1em;
    border-bottom: solid 5px #ff0;
}
main section:nth-child(1) article:nth-child(1) p {  }



main section:nth-child(1) article:nth-child(2) {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section:nth-child(1) article:nth-child(2) h5 {
    width: 35%;
    font-size: 1.2em;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 0 5px 0;
    margin: 55px 0 0 0;
    border-bottom: solid 5px #ff0;
}
main section:nth-child(1) article:nth-child(2) nav {  }
main section:nth-child(1) article:nth-child(2) nav a {  }
main section:nth-child(1) article:nth-child(2) nav a i {  }
main section:nth-child(1) article:nth-child(2) nav a span {  }
main section:nth-child(1) article:nth-child(2) nav a:hover {  }
main section:nth-child(1) article:nth-child(2) nav a:hover i {  }
main section:nth-child(1) article:nth-child(2) nav a:hover span {  }

main section:nth-child(1) article:nth-child(3) {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section:nth-child(1) article:nth-child(3) h5 {
    width: 43%;
    font-size: 1.2em;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 0 5px 0;
    margin: 55px 0 0 0;
    border-bottom: solid 5px #ff0;
}
main section:nth-child(1) article:nth-child(3) p {  }



main section:nth-child(2) {
    width: 65%;
    height: 700px;
    display: block;
    margin: 0;
    float: left;
    padding: 0;
    background: #222;
}
main section:nth-child(2) article:nth-child(1) {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section:nth-child(2) article:nth-child(1) h5 {  }
main section:nth-child(2) article:nth-child(1) ul {  }
main section:nth-child(2) article:nth-child(1) ul li {  }

main section:nth-child(2) article:nth-child(2) {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section:nth-child(2) article:nth-child(2) h5 {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works h6 {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works p {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works ul {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works ul li {  }



/*Tamaños Tablets*/
/*
@media only screen and (max-width: 1279px){  }
@media only screen and (max-width: 1199px){  }
@media only screen and (max-width: 1099px){  }
*/

@media only screen and (max-width: 999px){
    main {
        height: auto;
    }
    main section:nth-child(1) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    main section:nth-child(2) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
}

@media only screen and (max-width: 899px){
    
}

@media only screen and (max-width: 799px){
    
}

@media only screen and (max-width: 699px){
    header {
        height: 500px;
        background: url('code-coding-connection-943096.jpg') no-repeat top center fixed #333;
    }
    header article {
        height: auto;
        padding: 75px 0;
    }
    header article div.container {
        width: 80%;
        height: auto;
    }
    header article figure {
        margin: 0 auto 40px auto;
        float: none;
    }
    header article div {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    header article div h1 {
        font-size: 2.5em;
        text-align: center;
    }
    header article div h2 {
        text-align: center;
    }

    header #video-fondo {
        display: none;
    }
}

@media only screen and (max-width: 599px){
    
}

/*Tamaños Móviles*/
@media only screen and (max-width: 499px){
    
}

@media only screen and (max-width: 449px){
    
}

@media only screen and (max-width: 399px){
    
}

@media only screen and (max-width: 349px){
    
}





